
<div class="main-view page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0"
                fxLayout="row"
                fxLayoutAlign="start center"
            >
                <mat-icon 
                    class="logo-icon s-32 mr-16" 
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}"
                >
                    {{ icon }}
                </mat-icon>

                <span class="logo-text h1" 
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                >
                    {{ caption }}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper  ml-sm-32">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Elem keresése">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="appRoot+entityName+'/form/new/new'"
                    class="add-button fuse-white mt-24 mt-md-0">
                <span>ÚJ LÉTREHOZÁSA</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <base-mat-table></base-mat-table>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
